
@{
    ViewBag.Title = "Android";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutme.css" />
</head>

<div class="card">
    <h2><b>News app</b></h2>
    <h4 style="line-height: 25px">
        <a href="https://github.com/Kretoskar/android-news-app">
            <b>Github</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>Warehouse inventory</b></h2>
    <h4 style="line-height: 25px">
        <a href="https://github.com/Kretoskar/android-warehouse-inventory-app">
            <b>Github</b>
        </a>
    </h4>
</div>