
@{
    ViewBag.Title = "Android";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutme.css" />
</head>

<div class="card">
    <h2><b>News app</b></h2>
    <h4 style="line-height: 25px">
        Part of Google/Udacity android basics nanodegree.
        Allows user to search and list news from The Guardian API.
        Includes HTTP networking, JSON parsing and threads.
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7-mz9MDFAM4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/android-news-app">
            <b><br><br>Github</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>Warehouse inventory</b></h2>
    <h4 style="line-height: 25px">
        Part of Google/Udacity android basics nanodegree.
        Allows user to keep track of warehouse inventory.
        User can add, delete and update products.
        Includes SQL database and Content Providers.
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7-mz9MDFAM4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/android-warehouse-inventory-app">
            <b><br><br>Github</b>
        </a>
    </h4>
</div>