@{
    ViewBag.Title = "Home Page";
}
<img src="~/Content/pobrane.png" alt="zdjecie prof" style="margin-top: 20px;margin-right: 20px"/>
<p style="padding-top: 20px" />
<p>Mam na imię Oskar. Jestem studentem drugiego roku informatyki,
    aktualnie na urlopie dziekańskim. Od najmłodszych lat interesowałem się 
    grami wideo, a zwłaszcza procesem ich tworzenia. 
    Zacząłem od pisania prostych role plejów w RPG makerze, potem przyszła kolej na naukę Unity i C#.
    Od tego czasu napisałem kilka gier mobilnych, z czego dwie wydałem. Swoje doświadczenie opieram także na
    projektach w takich technologiach jak WPF, xamarin, czy android. W procesie nauki zdobyłem takie certyfikaty jak:
    Cisco - IT Essentialls, Google/Udacity - Android basics nanodegree, Unity/Courseera - Core interaction programming.
    Znam wzorce projektowe stosowane w produkcji gier, oraz MVVM i MVC.
    Stosuję zasady SOLID, oraz inne pozwalające mi pisać czysty kod.
    Jeśli interesuje Cię moja twórczość, zapraszam do sekcji "Projekty", gdzie oprócz szczegółowego omówienia poszczególnych
    właściwości gier i aplikacji, dostępny jest mój kod.</p>