@{
    ViewBag.Title = "Home Page";
}
@*<img src="~/Content/pobrane.png" alt="zdjecie prof" style="margin-top: 20px;margin-right: 20px"/>*@
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutme.css"/>
</head>

@*<div class="header">
    <h2><b>Oskar Kogut</b></h2>
</div>*@

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2><b>About me</b></h2>
            <h4 style="line-height: 25px">
                I'm a second year student, currently on dean's leave.
                From the earliest years, I'm interested in video games, especially their development process.
                I started from writing simple role plays in RPG maker, then Unity and C# was brought to my attention.
                Since that time I've created a few PC, webgl, and android games, two of which I published.
                Not only do I base my experience on Unity, but also on technologies such as WPF, Xamarin, or Android.
                I know, and can make practical use from game programming patterns, and architectural patterns like MVVM, or MVC.
                I use SOLID principles, and others that allow me to write clean, optimized, and reliable code.
                I can write project documentation and unit tests. I know Git.
                Analitycal mind allow me to make use of mathematical analysis, linear algebra and physics in game development.
                I have no problem with communicating and reading technical documentation in english.
                Besides gaming, I'm also interested in skateboarding and astrophotography.
                If You are interested in cooperation, don't hesitate to contact me.
                Also, check out "Projects" page in navigation bar for details on my games and applications.
            </h4>
        </div>
        <div class="card">
            <h2 style="margin-bottom: 20px"><b>Projects overview</b></h2>
            <h4 style="margin-top: 20px">Check out "Projects" page in navigation bar for details on my games and applications.<br></h4>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7-mz9MDFAM4" frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2><b>Certificates</b></h2>
            <ul style="margin-top: 20px">
                <li><h4><b>Cisco</b> <br> </h4><h5>IT Essentialls</h5></li>
                <li><h4><b>Google, Udacity</b> <br> </h4><h5>Android basics nanodegree</h5></li>
                <li><h4><b>Unity, Coursera</b> <br> </h4><h5>Core interaction programming</h5></li>
            </ul>
        </div>
        <div class="card">
            <h3><b>Published games and apps</b></h3>
            <ul style="margin-top: 20px">
                <li>
                    <h4>
                        <a href="https://play.google.com/store/apps/details?id=com.LewdCircus.HypercasualTriCubes&hl=pl">
                            <b>Tri cubes</b>
                        </a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="https://play.google.com/store/apps/details?id=com.LewdCircus.PongstacheLC&hl=pl">
                            <b>Pongstache</b>
                        </a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="">
                            <b>Spoty w Rzeszowie</b>
                        </a>
                    </h4>
                </li>
            </ul>
        </div>
        <div class="card">
            <h2><b>Contact</b></h2>
            <h4 style="margin-top: 20px">
                <p><b>Email: </b> <br> kogutoskar123@gmail.com</p>
                <p><b>Phone:</b> <br> 790 278 345</p>
                <p><b><a href="http://github.com/kretoskar">Github</a></b></p>
                <p><b><a href="https://www.linkedin.com/in/oskar-kogut/?originalSubdomain=pl">Linkedin</a></b></p>
            </h4>
        </div>
    </div>
</div>