
@{
    ViewBag.Title = "Unity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutme.css" />
</head>

@*<div class="header">
        <h2><b>Oskar Kogut</b></h2>
    </div>*@

<div class="card">
    <h2><b>Procedural rougelite/rougelike level generator</b></h2>
    <h4 style="line-height: 25px">
        The app generates a random rougelite/rougelike level, 
        depending on settings set by the user. The level is 
        in 3D, it's fully prepared for being tested insinde of a game.<br>
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7-mz9MDFAM4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/unity-procedural-level-generator">
            <b><br><br>Github</b>
        </a>
        I
        <a href="https://simmer.io/@Kretoskar/dungeon-generator?fbclid=IwAR3Gt8xfV4_cEMrSIyAFUEU8l3s5RDolW11J0VZ8qVMuZUr5110gAEIXZvc">
            <b>Simmer.io</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>RPG</b></h2>
    <h4 style="line-height: 25px">
        This is definitely the biggest project I've ever been working on.
        It's also the most recent one, so if you are to rate my current coding skills, 
        check this repo.
        Currently the game's functionalities are:
    </h4>
    <ul>
        <li><h4>Joystick player controller</h4></li>
        <li><h4>Enemies AI capable of path finding and attacking the player</h4></li>
        <li><h4>Player progression system, allowing him to spend stat points on abilities every level</h4></li>
        <li><h4>Equipment with visible changes on player character</h4></li>
        <li><h4>Binary saving</h4></li>
    </ul>
    <h4 style="line-height: 25px">
        <br>
        Thanks to the use of nested prefabs and scriptable objects, the project is designer friendly and opened for extensions.
        Design patterns used in the project are:<br>
    </h4>
    <ul>
        <li><h4><b>Command pattern</b> for reading user input</h4></li>
        <li><h4><b>Observer pattern</b> for updating UI</h4></li>
        <li><h4><b>Singleton</b> for item database</h4></li>
        <li><h4><b>Finite state machine</b> for enemy AI</h4></li>
        <li><h4><b>Object pooling</b> for optimizing projectile performance</h4></li>
    </ul>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7-mz9MDFAM4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/unity-RPG-core">
            <b><br><br>Github</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>Pongstache</b></h2>
    <h4 style="line-height: 25px">
        Hyper casual mobile game, published on Google play store.
        It's a mix of block breaker and endless runner. Player's goal is to
        shoot falling blocks using a tennis ball, but under no circumstances can he touch them with his body,
        as this will lead to him losing a live. If the ball gets stuck, endlessly colliding with oppositing walls, it gets struct by a lightning.
        The game is highly customizable, as it's every aspect can be modified in play time with scriptable objects.
        Level boundaries are spawned at run time, according to user's screen size. <br>
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7-mz9MDFAM4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/unity-pongstache">
            <b><br><br>Github</b>
        </a>
        I
        <a href="https://play.google.com/store/apps/details?id=com.LewdCircus.PongstacheLC&hl=pl">
            <b>Google play</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>Game jam Rzeszów 2019</b></h2>
    <h4 style="line-height: 25px">
        Project from my first ever game jam, code is extremely nasty but... isn't that the beauty of game jams?
        It's a simulator of managing a city after global warming. Player has to survive as many days as possible,
        choosing the right move at the right time. I was the only programmer in the team. <br>
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZmEai7G6QEk" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/game-jam-rzeszow-2019">
            <b><br>Github</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>Tri cubes</b></h2>
    <h4 style="line-height: 25px">
        Hypercasual endless runner, published on google play store. 
        Swipe to move, click on cubes to hide them and fit in the holes. <br>
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/T1Uj3_6HLvY" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/unity-tri-cubes">
            <b><br>Github</b>
        </a>
        I
        <a href="https://play.google.com/store/apps/details?id=com.LewdCircus.TriCubes&hl=en_US">
            <b>Google play</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>2D platformer</b></h2>
    <h4 style="line-height: 25px">
        Classic 2D platformer with shooting. Published on Simmer.io
        The controller allows player to run, jump, climb ladders and shoot projectiles.
        Projectiles are spawned using object pooling. Levels are made using tilesets.<br>
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/p3QZvbfblDw" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/unity-webgl-2d-platformer">
            <b><br>Github</b>
        </a>
        I
        <a href="https://simmer.io/%40Kretoskar/kretoskar-2d-platformer">
            <b>Simmer.io</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>Laser defender</b></h2>
    <h4 style="line-height: 25px">
        Part of "Complete C# Unity Developer 2D" course.
        Classic android laser defender game. The spaceship is controller with gyroscope,
        projectiles are spawned in a coroutine on user touch. <br>
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RGnX-aHCl-A" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/unity-android-laser-defender">
            <b><br>Github</b>
        </a>
    </h4>
</div>

