
@{
    ViewBag.Title = "Unity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutme.css" />
</head>

@*<div class="header">
        <h2><b>Oskar Kogut</b></h2>
    </div>*@

<div class="card">
    <h2><b>RPG</b></h2>
    <h4 style="line-height: 25px">
        Jestem studentem drugiego roku informatyki,aktualnie na urlopie dziekańskim.
        Od najmłodszych lat interesuję się grami wideo, a zwłaszcza procesem ich tworzenia.
        Zacząłem od pisania prostych role plejów w RPG makerze, potem przyszła kolej na naukę Unity i C#.
        Od tego czasu napisałem kilka gier mobilnych, z czego dwie wydałem.
        Swoje doświadczenie opieram także na projektach w takich technologiach jak WPF, xamarin, czy android.
        Znam wzorce projektowe stosowane w produkcji gier, oraz MVVM i MVC.
        Stosuję zasady SOLID, oraz inne pozwalające mi pisać czysty, zoptymalizowany i niezawodny kod.
        Potrafię pisać dokumentację projektu, testy jednostkowe, znam GIT.
        Analityczny umysł pozwala mi stosować niezbędną w game devie analizę matematyczną i algebrę liniową.
        Nie mam problemu z komunikacją i czytaniem dokumentacji technicznej po angielsku.
        Oprócz gier, interesuję się deskorolką i astrofotografią.
        Jeśli Cię zainteresowałem, zapraszam do sekcji "Projekty", gdzie oprócz szczegółowego omówienia poszczególnych
        właściwości gier i aplikacji, dostępny jest mój kod.
    </h4>
</div>

<div class="card">
    <h2><b>Pongstache</b></h2>
    <h4 style="line-height: 25px">
        Jestem studentem drugiego roku informatyki,aktualnie na urlopie dziekańskim.
        Od najmłodszych lat interesuję się grami wideo, a zwłaszcza procesem ich tworzenia.
        Zacząłem od pisania prostych role plejów w RPG makerze, potem przyszła kolej na naukę Unity i C#.
        Od tego czasu napisałem kilka gier mobilnych, z czego dwie wydałem.
        Swoje doświadczenie opieram także na projektach w takich technologiach jak WPF, xamarin, czy android.
        Znam wzorce projektowe stosowane w produkcji gier, oraz MVVM i MVC.
        Stosuję zasady SOLID, oraz inne pozwalające mi pisać czysty, zoptymalizowany i niezawodny kod.
        Potrafię pisać dokumentację projektu, testy jednostkowe, znam GIT.
        Analityczny umysł pozwala mi stosować niezbędną w game devie analizę matematyczną i algebrę liniową.
        Nie mam problemu z komunikacją i czytaniem dokumentacji technicznej po angielsku.
        Oprócz gier, interesuję się deskorolką i astrofotografią.
        Jeśli Cię zainteresowałem, zapraszam do sekcji "Projekty", gdzie oprócz szczegółowego omówienia poszczególnych
        właściwości gier i aplikacji, dostępny jest mój kod.
    </h4>
</div>

<div class="card">
    <h2><b>Game jam Rzeszów 2019</b></h2>
    <h4 style="line-height: 25px">
        Jestem studentem drugiego roku informatyki,aktualnie na urlopie dziekańskim.
        Od najmłodszych lat interesuję się grami wideo, a zwłaszcza procesem ich tworzenia.
        Zacząłem od pisania prostych role plejów w RPG makerze, potem przyszła kolej na naukę Unity i C#.
        Od tego czasu napisałem kilka gier mobilnych, z czego dwie wydałem.
        Swoje doświadczenie opieram także na projektach w takich technologiach jak WPF, xamarin, czy android.
        Znam wzorce projektowe stosowane w produkcji gier, oraz MVVM i MVC.
        Stosuję zasady SOLID, oraz inne pozwalające mi pisać czysty, zoptymalizowany i niezawodny kod.
        Potrafię pisać dokumentację projektu, testy jednostkowe, znam GIT.
        Analityczny umysł pozwala mi stosować niezbędną w game devie analizę matematyczną i algebrę liniową.
        Nie mam problemu z komunikacją i czytaniem dokumentacji technicznej po angielsku.
        Oprócz gier, interesuję się deskorolką i astrofotografią.
        Jeśli Cię zainteresowałem, zapraszam do sekcji "Projekty", gdzie oprócz szczegółowego omówienia poszczególnych
        właściwości gier i aplikacji, dostępny jest mój kod.
    </h4>
</div>

<div class="card">
    <h2><b>Tri cubes</b></h2>
    <h4 style="line-height: 25px">
        Jestem studentem drugiego roku informatyki,aktualnie na urlopie dziekańskim.
        Od najmłodszych lat interesuję się grami wideo, a zwłaszcza procesem ich tworzenia.
        Zacząłem od pisania prostych role plejów w RPG makerze, potem przyszła kolej na naukę Unity i C#.
        Od tego czasu napisałem kilka gier mobilnych, z czego dwie wydałem.
        Swoje doświadczenie opieram także na projektach w takich technologiach jak WPF, xamarin, czy android.
        Znam wzorce projektowe stosowane w produkcji gier, oraz MVVM i MVC.
        Stosuję zasady SOLID, oraz inne pozwalające mi pisać czysty, zoptymalizowany i niezawodny kod.
        Potrafię pisać dokumentację projektu, testy jednostkowe, znam GIT.
        Analityczny umysł pozwala mi stosować niezbędną w game devie analizę matematyczną i algebrę liniową.
        Nie mam problemu z komunikacją i czytaniem dokumentacji technicznej po angielsku.
        Oprócz gier, interesuję się deskorolką i astrofotografią.
        Jeśli Cię zainteresowałem, zapraszam do sekcji "Projekty", gdzie oprócz szczegółowego omówienia poszczególnych
        właściwości gier i aplikacji, dostępny jest mój kod.
    </h4>
</div>

<div class="card">
    <h2><b>Third person controller</b></h2>
    <h4 style="line-height: 25px">
        Jestem studentem drugiego roku informatyki,aktualnie na urlopie dziekańskim.
        Od najmłodszych lat interesuję się grami wideo, a zwłaszcza procesem ich tworzenia.
        Zacząłem od pisania prostych role plejów w RPG makerze, potem przyszła kolej na naukę Unity i C#.
        Od tego czasu napisałem kilka gier mobilnych, z czego dwie wydałem.
        Swoje doświadczenie opieram także na projektach w takich technologiach jak WPF, xamarin, czy android.
        Znam wzorce projektowe stosowane w produkcji gier, oraz MVVM i MVC.
        Stosuję zasady SOLID, oraz inne pozwalające mi pisać czysty, zoptymalizowany i niezawodny kod.
        Potrafię pisać dokumentację projektu, testy jednostkowe, znam GIT.
        Analityczny umysł pozwala mi stosować niezbędną w game devie analizę matematyczną i algebrę liniową.
        Nie mam problemu z komunikacją i czytaniem dokumentacji technicznej po angielsku.
        Oprócz gier, interesuję się deskorolką i astrofotografią.
        Jeśli Cię zainteresowałem, zapraszam do sekcji "Projekty", gdzie oprócz szczegółowego omówienia poszczególnych
        właściwości gier i aplikacji, dostępny jest mój kod.
    </h4>
</div>

<div class="card">
    <h2><b>2D platformer</b></h2>
    <h4 style="line-height: 25px">
        Jestem studentem drugiego roku informatyki,aktualnie na urlopie dziekańskim.
        Od najmłodszych lat interesuję się grami wideo, a zwłaszcza procesem ich tworzenia.
        Zacząłem od pisania prostych role plejów w RPG makerze, potem przyszła kolej na naukę Unity i C#.
        Od tego czasu napisałem kilka gier mobilnych, z czego dwie wydałem.
        Swoje doświadczenie opieram także na projektach w takich technologiach jak WPF, xamarin, czy android.
        Znam wzorce projektowe stosowane w produkcji gier, oraz MVVM i MVC.
        Stosuję zasady SOLID, oraz inne pozwalające mi pisać czysty, zoptymalizowany i niezawodny kod.
        Potrafię pisać dokumentację projektu, testy jednostkowe, znam GIT.
        Analityczny umysł pozwala mi stosować niezbędną w game devie analizę matematyczną i algebrę liniową.
        Nie mam problemu z komunikacją i czytaniem dokumentacji technicznej po angielsku.
        Oprócz gier, interesuję się deskorolką i astrofotografią.
        Jeśli Cię zainteresowałem, zapraszam do sekcji "Projekty", gdzie oprócz szczegółowego omówienia poszczególnych
        właściwości gier i aplikacji, dostępny jest mój kod.
    </h4>
</div>

<div class="card">
    <h2><b>Laser defender</b></h2>
    <h4 style="line-height: 25px">
        Jestem studentem drugiego roku informatyki,aktualnie na urlopie dziekańskim.
        Od najmłodszych lat interesuję się grami wideo, a zwłaszcza procesem ich tworzenia.
        Zacząłem od pisania prostych role plejów w RPG makerze, potem przyszła kolej na naukę Unity i C#.
        Od tego czasu napisałem kilka gier mobilnych, z czego dwie wydałem.
        Swoje doświadczenie opieram także na projektach w takich technologiach jak WPF, xamarin, czy android.
        Znam wzorce projektowe stosowane w produkcji gier, oraz MVVM i MVC.
        Stosuję zasady SOLID, oraz inne pozwalające mi pisać czysty, zoptymalizowany i niezawodny kod.
        Potrafię pisać dokumentację projektu, testy jednostkowe, znam GIT.
        Analityczny umysł pozwala mi stosować niezbędną w game devie analizę matematyczną i algebrę liniową.
        Nie mam problemu z komunikacją i czytaniem dokumentacji technicznej po angielsku.
        Oprócz gier, interesuję się deskorolką i astrofotografią.
        Jeśli Cię zainteresowałem, zapraszam do sekcji "Projekty", gdzie oprócz szczegółowego omówienia poszczególnych
        właściwości gier i aplikacji, dostępny jest mój kod.
    </h4>
</div>

