
@{
    ViewBag.Title = "Wpf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutme.css" />
</head>


<div class="card">
    <h2><b>MVVM weather app</b></h2>
    <h4 style="line-height: 25px">
        This app allows user to check weather forecast in choosen city.
        It follows MVVM architectural pattern.
        It uses AccuWeather for rest API requests. It has unit tests. It is documented in detail,
        both with doxygen documentation generated using XML comments and standard
        documentation including:
    </h4>
    <ul>
        <li><h4>Description of projects assumptions</h4></li>
        <li><h4>Functional requirements</h4></li>
        <li><h4>Non-functional requirements</h4></li>
        <li><h4>UML diagram</h4></li>
        <li><h4>Project implementation schedule using Gantt diagram</h4></li>
        <li><h4>Technical description</h4></li>
        <li><h4>View presentation</h4></li>
    </ul>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fLg0XJEu084" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4 style="line-height: 25px">
        <a href="https://github.com/Kretoskar/wpf-mvvm-weather-app">
            <b><br>Github</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>Contacts app</b></h2>
    <h4 style="line-height: 25px">
        Part of "WPF masterclass" course.
        The app uses SQLite connection to allow the user
        to add contacts to a list.
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7-mz9MDFAM4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/wpf-contacts-app">
            <b><br><br>Github</b>
        </a>
    </h4>
</div>
