
@{
    ViewBag.Title = "Xamarin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutme.css" />
</head>

<div class="card">
    <h2><b>Spoty w Rzeszowie</b></h2>
    <h4 style="line-height: 25px">
        An app that allows users to find skate spots in
        Rzeszów, city of Poland.
    </h4>
    <a href="https://github.com/Kretoskar/xamarin-spoty">
        <b><br>Github</b>
    </a>
</div>

<div class="card">
    <h2><b>Travel record app</b></h2>
    <h4 style="line-height: 25px">

        <a href="https://github.com/Kretoskar/xamarin-travel-record-app">
            <b>Github</b>
        </a>
    </h4>
</div>

