
@{
    ViewBag.Title = "Xamarin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutme.css" />
</head>

<div class="card">
    <h2><b>Spoty w Rzeszowie</b></h2>
    <h4 style="line-height: 25px">
        An app that allows users to find places to skate in
        Rzeszów. User can choose one of over 40 
        spots, and navigate to it using google maps.
        It follows MVVM architectural pattern.
        It reads spot data from JSON file.
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7-mz9MDFAM4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/xamarin-spoty">
            <b><br><br>Github</b>
        </a>
        I
        <a href="">
            <b>Google play</b>
        </a>
    </h4>
</div>

<div class="card">
    <h2><b>Travel record app</b></h2>
    <h4 style="line-height: 25px">
        Part of "Xamarin masterclass" course.
        The app uses Foursquare API and
        user's location to allow him to add information about his
        experiences in the choosen venue.
    </h4>
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7-mz9MDFAM4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4>
        <a href="https://github.com/Kretoskar/xamarin-travel-record-app">
            <b><br><br>Github</b>
        </a>
    </h4>
</div>